# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# VS Code Extension Packaging
.vscode-test/
.vsix/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
dist/
out/
